rules-io/examples/rollershutter/flow_rollershutter.json
[
    {
        "id": "83858ce7.11a11",
        "type": "tab",
        "label": "rollershutter",
        "disabled": false,
        "info": "This Flow shows a homeautomation scenario with rollershutters as an example."
    },
    {
        "id": "8a61bead.9ab52",
        "type": "inject",
        "z": "83858ce7.11a11",
        "name": "simulator for sunrise",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "twilight state",
        "payload": "1",
        "payloadType": "num",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "fe949d19.47fb48",
                "3f9d765e.ad552a"
            ]
        ],
        "outputLabels": [
            "twilight state"
        ],
        "info": "simulator for the twilight state \"sunrise\" "
    },
    {
        "id": "7a3942b8.f12efc",
        "type": "inject",
        "z": "83858ce7.11a11",
        "name": "simulator for sunset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "twilight state",
        "payload": "0",
        "payloadType": "num",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "fe949d19.47fb48",
                "3f9d765e.ad552a"
            ]
        ],
        "outputLabels": [
            "twilight state"
        ],
        "info": "simulator for the twilight state \"sunset\""
    },
    {
        "id": "3bfdc61b.bf6832",
        "type": "inject",
        "z": "83858ce7.11a11",
        "name": "simulator for strong sunlight",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "sunlight",
        "payload": "1",
        "payloadType": "num",
        "x": 200,
        "y": 280,
        "wires": [
            [
                "a09a7b63.767b18",
                "fe949d19.47fb48",
                "3f9d765e.ad552a"
            ]
        ],
        "outputLabels": [
            "sunlight incident"
        ],
        "info": "simulator for strong sunlight incident"
    },
    {
        "id": "b9735218.fae338",
        "type": "inject",
        "z": "83858ce7.11a11",
        "name": "simulator for low sunlight",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "sunlight incident",
        "payload": "0",
        "payloadType": "num",
        "x": 190,
        "y": 320,
        "wires": [
            [
                "a09a7b63.767b18",
                "fe949d19.47fb48",
                "3f9d765e.ad552a"
            ]
        ],
        "outputLabels": [
            "sunlight incident"
        ],
        "info": "simulator for low sunlight incident"
    },
    {
        "id": "24d93811.7d1168",
        "type": "inject",
        "z": "83858ce7.11a11",
        "name": "simulator for opening time period",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "time period",
        "payload": "1",
        "payloadType": "num",
        "x": 210,
        "y": 80,
        "wires": [
            [
                "a09a7b63.767b18"
            ]
        ],
        "outputLabels": [
            "time period trigger (0 = close, 1 = open)"
        ],
        "info": "Simulator for the period of time when the shutter should be open"
    },
    {
        "id": "4a5d488f.082af",
        "type": "debug",
        "z": "83858ce7.11a11",
        "name": "rollershutter bedroom",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 120,
        "wires": [],
        "inputLabels": [
            "percentage"
        ],
        "info": "indicates the percentage by which the shutter must be open"
    },
    {
        "id": "5dd66bd0.0d1cc4",
        "type": "debug",
        "z": "83858ce7.11a11",
        "name": "rollershutter kitchen",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 180,
        "wires": [],
        "inputLabels": [
            "percentage"
        ],
        "info": "indicates the percentage by which the shutter must be open"
    },
    {
        "id": "d4df82dd.64e46",
        "type": "debug",
        "z": "83858ce7.11a11",
        "name": "rollershutter living room",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 240,
        "wires": [],
        "inputLabels": [
            "percentage"
        ],
        "info": "indicates the percentage by which the shutter must be open"
    },
    {
        "id": "76c34d2.fa3f1b4",
        "type": "inject",
        "z": "83858ce7.11a11",
        "name": "simulator for closing time period",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "time period",
        "payload": "0",
        "payloadType": "num",
        "x": 210,
        "y": 120,
        "wires": [
            [
                "a09a7b63.767b18"
            ]
        ],
        "outputLabels": [
            "opening time period (0 = close, 1 = open)"
        ],
        "info": "Simulator for the period of time when the shutter should be close"
    },
    {
        "id": "a09a7b63.767b18",
        "type": "rules-io",
        "z": "83858ce7.11a11",
        "name": "rollershutter rules bedroom",
        "rulesfilename": "/usr/src/node-red/rules/rollershutter/rules_rollershutter_bedroom.json",
        "outputs": 1,
        "x": 540,
        "y": 120,
        "wires": [
            [
                "4a5d488f.082af"
            ]
        ],
        "inputLabels": [
            "rules input"
        ],
        "info": "rules to control the bedroom rollershutters"
    },
    {
        "id": "3f9d765e.ad552a",
        "type": "rules-io",
        "z": "83858ce7.11a11",
        "name": "rollershutter rules living room",
        "rulesfilename": "/usr/src/node-red/rules/rollershutter/rules_rollershutter_living-room.json",
        "outputs": 1,
        "x": 540,
        "y": 240,
        "wires": [
            [
                "d4df82dd.64e46"
            ]
        ],
        "inputLabels": [
            "rules input"
        ],
        "info": "rules to control the living room rollershutters"
    },
    {
        "id": "fe949d19.47fb48",
        "type": "rules-io",
        "z": "83858ce7.11a11",
        "name": "rollershutter rules kitchen",
        "rulesfilename": "/usr/src/node-red/rules/rollershutter/rules_rollershutter_kitchen.json",
        "outputs": 1,
        "x": 530,
        "y": 180,
        "wires": [
            [
                "5dd66bd0.0d1cc4"
            ]
        ],
        "inputLabels": [
            "rules input"
        ],
        "info": "rules to control the kitchen rollershutters"
    }
]